.page-not-found {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-not-found__error-code {
    font-weight: 700;
    font-size: 140px;
    line-height: 169px;
    color: #2A8BF2;
}

.page-not-found__signature {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
    margin-bottom: 20px;
}

.page-not-found__come-back-link {
    color: white;
    border-radius: 15px;
    background: #2A8BF2;
    padding: 5px 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    margin: 0 auto;
}